apiVersion: v1
kind: Secret
metadata:
  name: {{ include "fairagro-advanced-middleware-api-chart.fullname" . }}-config
  labels:
    {{- include "fairagro-advanced-middleware-api-chart.labels" . | nindent 4 }}
type: Opaque
stringData:
  middleware-api-config: |
{{- $config := deepCopy .Values.config -}}
{{- if not $config.couchdb }}{{ $_ := set $config "couchdb" (dict) }}{{ end -}}
{{- $_ := set $config.couchdb "url" (include "fairagro-advanced-middleware-api-chart.couchdbUrl" . | trim) -}}
{{- if not $config.celery }}{{ $_ := set $config "celery" (dict) }}{{ end -}}
{{- $_ := set $config.celery "broker_url" (include "fairagro-advanced-middleware-api-chart.celeryBrokerUrl" . | trim) -}}
{{- $_ := set $config.celery "result_backend" (include "fairagro-advanced-middleware-api-chart.celeryResultBackend" . | trim) -}}
{{- $config | toYaml | nindent 4 }}
