apiVersion: v1
kind: Secret
metadata:
  name: {{ include "fairagro-advanced-middleware-api-chart.fullname" . }}-config
  labels:
    {{- include "fairagro-advanced-middleware-api-chart.labels" . | nindent 4 }}
type: Opaque
stringData:
  middleware-api-config: {{ .Values.config | toYaml | quote }}
