services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER
      - RABBITMQ_DEFAULT_PASS
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  celery-worker:
    image: middleware-api:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      middleware-api:
        condition: service_started
    environment:
      - MIDDLEWARE_API_CONFIG=/run/secrets/middleware-api-config
      - CELERY_BROKER_URL
      - CELERY_RESULT_BACKEND
      - GITLAB_API_TOKEN
      - GIT_REPO_TOKEN
    volumes:
      - ./middleware-api-config.yaml:/run/secrets/middleware-api-config:ro
    # Command to run celery worker
    command: [
      "/api/middleware-api/middleware-api",
      "celery",
      "-A", "middleware.api.celery_app",
      "worker",
      "--loglevel=info",
      "--concurrency=8",]
    restart: unless-stopped

  middleware-api:
    image: middleware-api:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8000:8000"
    environment:
      - CELERY_BROKER_URL
      - CELERY_RESULT_BACKEND
      - MIDDLEWARE_API_CONFIG=/run/secrets/middleware-api-config
    volumes:
      - ./middleware-api-config.yaml:/run/secrets/middleware-api-config:ro
    # Run uvicorn directly (default command of the binary runs uvicorn)
    command: ["/api/middleware-api/middleware-api", "--host", "0.0.0.0", "--port", "8000"]
    # command: sleep 3600
    restart: unless-stopped

# secrets:
#   client_key:
#     environment: data

volumes:
  postgres_data:
