gitlab_api:
  group: FAIRagro-advanced-middleware-dev
  url: https://datahub-dev.ipk-gatersleben.de
known_rdis:
- bonares
- edal
- edaphobase
- openagrar
- publisso
- thunen_atlas
require_client_cert: false
# otel_endpoint: http://signoz:4318  # Uncomment to enable Signoz tracing
