log_level: DEBUG

# gitlab_api:
#   group: FAIRagro-advanced-middleware-dev
#   url: https://datahub-dev.ipk-gatersleben.de
#   max_workers: 10
#   commit_chunk_size: 200
git_repo:
  url: https://datahub-dev.ipk-gatersleben.de
  group: FAIRagro-advanced-middleware-dev
  max_workers: 10
known_rdis:
- bonares
- edal
- edaphobase
- openagrar
- publisso
- thunen_atlas
require_client_cert: false

celery:
  broker_url: amqp://guest:guest@rabbitmq:5672//
  result_backend: redis://redis:6379/0

# otel_endpoint: http://signoz:4318  # Uncomment to enable Signoz tracing
# otel_log_console_spans: true     # Enable SPAN logging to console
