api:
  tls:
    serverCrtFile: server.crt
    serverKeyFile: server.key
    caCrtFile: ca.crt

  image:
    repository: fairagro-advanced-middleware-api
    tag: test
    imagePullPolicy: Never

  ingress:
    enabled: true
    mtlsEnabled: true
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts:
      - host: chart-example.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: server-tls
        hosts:
          - chart-example.local

celery:
  image:
    repository: fairagro-advanced-middleware-api
    tag: test
    imagePullPolicy: Never
  worker:
    concurrency: 1
